.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .history-overlay {
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 5px;
    min-height: 191px;
    max-height: 191px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    scrollbar-width: none;

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 10px;
      max-height: 25px;

      img {
        max-width: 18px;
        max-height: 18px;
        width: 18px;
        height: 18px;
      }

      img:hover {
        transform: translate(1px);
      }

      p {
        font-size: 18px;
      }
    }

    .list:hover{
        background-color:  #007bff;
        color: white;
    }
  }

  img {
    max-width: 25px;
    max-height: 25px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
  }

  img:hover {
    transform: translate(1px);
  }
}
