<div class="calculator">
  <app-calculator-display [display]="display" [result]="result" [isResultDisplayed]="isResult">
  </app-calculator-display>

  <div class="button">
    <button (click)="toggleHistory()">{{ showHistory ? 'Calculadora' : 'Historico'}}</button>
  </div>

  <app-calculator-keys *ngIf="!showHistory; " (keyPressed)="displayValue($event)" (clearPressed)="clear()" (calculatePressed)="finalResult()"
    (deleteLastPressed)="deleteCharacter()">
  </app-calculator-keys>

  <app-calculator-history *ngIf="showHistory" [history]="history" (clearHistory)="clearHistory()"
    (selectHistoryItem)="selectHistoryItem($event)" (ItemClear)="clearHistoryItem($event)">
  </app-calculator-history>
</div>
