.display {
  height: 80px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  padding: 10px;
  text-align: right;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.highlight {
  font-weight: bold;
  color: #000;
}
