<div class="buttons">
  <button (click)="sendKey('1')">1</button>
  <button (click)="sendKey('2')">2</button>
  <button (click)="sendKey('3')">3</button>
  <button (click)="clear()">C</button>
  <button (click)="deleteCharacter()">←</button>
  <button (click)="sendKey('4')">4</button>
  <button (click)="sendKey('5')">5</button>
  <button (click)="sendKey('6')">6</button>
  <button (click)="sendKey('+')">+</button>
  <button (click)="sendKey('-')">-</button>
  <button (click)="sendKey('7')">7</button>
  <button (click)="sendKey('8')">8</button>
  <button (click)="sendKey('9')">9</button>
  <button (click)="sendKey('/')">/</button>
  <button (click)="sendKey('*')">*</button>
  <button (click)="sendKey('.')">.</button>
  <button (click)="sendKey('0')">0</button>
  <button (click)="calculate()">=</button>
  <button (click)="sendKey('(')">(</button>
  <button (click)="sendKey(')')">)</button>
</div>
